{% extends "layout.html" %}

{% block main %}


<div class="row">
	<div class="col-lg-1 col-0"></div>
  	<div class="col-lg-9 col-12" style="text-align:left;">
  		<h2>FAQ</h2>
    <p style="padding-top:15px;">I don't find my city in the list :<br><b>If your city is not in the list, it means that there is not pet registered from your city for now.</b></p>

    <p style="padding-top:25px;">I would like to adopt a pet, what should i do ? : <br> <b>Find your city in the list of the home page, you will see pets availables in your city. Find the one you love and use the attached information to go to the shelter.</b></p>


    <p style="padding-top:25px;">I work in shelter and i would like to show my pets, what can i do ? :<br> <b>First of all, you need to registered as shelter at <em><a href="/register">http://shelter-gallery/register</a></em>.
    Then, you have to send us your licence number to prove your identity and active your account</b></p>

     <p style="padding-top:25px;">I registered and sent proofs of the refuge id but my account is not activated ? :<br> <b>It can take 10-14 business day to verify all the informations. We will informe you by mail when your account will be activated.</b></p>



{% endblock %}